.header-section {
  /* grid-column: 1 / -1; */
  width: 100%;
}

  .nav-links{
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 2px 0;
  }

  .nav-auth {
    display: none;
  }

.logo {
  width: 107px;
  height: 52px;
}

.burger-menu {
    display: block;
      background: none;
  border: none;
  width: 32px;
  cursor: pointer;
  }

@media screen and (min-width: 1200px) {
.navbar {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 132px;
  height: 64px;
}

.nav-links {
  display: flex;
  gap: 28px;
  font-size: 12px;
  font-weight: 500;
  line-height: calc(17/14);
  text-transform: uppercase;
  padding: 25px 0;
}

.nav-links a {
  color: #B4B5BA;
  text-decoration: none;
}

.nav-links a:hover, .nav-links a:focus {
  color: #FFFFFF;
}

.burger-menu {
  display: none;
}
}

@media screen and (min-width: 1280px) {
.nav-links {
  display: flex;
  gap: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: calc(17/14);
  text-transform: uppercase;
  padding: 25px 0;
}
}
