@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header-section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  animation: fadeIn 1s ease-out;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2px 16px;
  animation: fadeInDown 1s ease-out;
}

.logo {
  width: 107px;
  height: 52px;
  animation: fadeInDown 1s ease-out;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.nav-links {
  display: none;
  animation: fadeInDown 1s ease-out;
  animation-delay: 0.4s;
  animation-fill-mode: both;
}

.burger-menu {
  display: block;
  background: none;
  border: none;
  width: 32px;
  cursor: pointer;
  animation: fadeInDown 1s ease-out;
  animation-delay: 0.6s;
  animation-fill-mode: both;
}

.nav-auth {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navbar {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 80px;
  }

  .logo {
    width: 132px;
    height: 64px;
    animation-delay: 0.2s;
  }

  .nav-links {
    display: flex;
    gap: 28px;
    font-size: 12px;
    font-weight: 500;
    line-height: calc(17/14);
    text-transform: uppercase;
    padding: 25px 0;
    animation-delay: 0.4s;
  }

  .nav-links a {
    color: #B4B5BA;
    text-decoration: none;
  }

  .nav-links a:hover,
  .nav-links a:focus {
    color: #FFFFFF;
  }

  .burger-menu {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .nav-links {
    display: flex;
    gap: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: calc(17/14);
    text-transform: uppercase;
    padding: 25px 0;
  }
}
