.cta-section {
  padding: 40px 0;
  background: #6a54ff;
}

.cta-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cta-register-title {
  color: #ffffff;
  text-align: left;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -1.12px;
}

.cta-form {
  width: 522px !important;
  margin-bottom: 0 !important;
}

.cta-input {
  width: 522px !important;
  background: #4A3BB3 !important;
}

.cta-button {
  top: 12px !important;
  width: 230px !important;
}