.hero-grid {
  display: grid !important;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  padding: 160px 0 147px 0;
  grid-column: 1 / -1;
  column-gap: 24px;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  z-index: 1;
}

.hero-left {
  grid-column: 1/ 7;
  width: 100%;
}

.hero-title {
  font-size: 60px;
  font-weight: 700;
  line-height: calc(72 / 60);
  margin-bottom: 12px;
  letter-spacing: -4%;
  text-transform: uppercase;
}

.hero-description {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20/16);
  color: rgba(231, 247, 248, 0.8);
  margin-bottom: 24px;
  max-width: 565px;
}

.hero-note {
  font-size: 14px;
  line-height: calc(20 / 14);
  color: rgba(255, 255, 255, 0.30);
}

.hero-right {
  grid-column: 8 / 13;
  display: flex;
  justify-content: start;
  align-items: start;
  position: relative;
}
