.features-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 153px;
}

.features-label {
  font-size: 14px;
  line-height: calc(20/14);
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 8px;
  text-transform: uppercase;
}

.features-item:first-child .features-label {
  width: 107px;
}

.features-value {
  font-weight: 500;
  font-size: 35px;
  line-height: calc(60/35);
  letter-spacing: -1.2px;
  color: #6A54FF;
  font-family: var(--font-ibm-plex-sans), sans-serif;
}

.numeric {
  font-family: var(--font-ibm-plex-mono), monospace;
  font-variant-numeric: slashed-zero;
}

@media screen and (min-width: 1200px) {
.features-item {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.features-value {
  font-size: 60px;
  line-height: calc(66/60);
}

.features-item:first-child .features-label {
  width: 100%;
}
}