.features-grid { 
  position: relative;
  background: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  padding: 125px 0 61px 0;
  width: 100%;
  grid-column: 1 / -1;
}

.features-grid::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-top: 70px solid #0a0a1b;
  border-left: 70px solid transparent;
  width: 801px;
  height: 60px;
}

.features-left {
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.features-date {
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  line-height: calc(20/14);
  letter-spacing: -4%;
}
